<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>A2SZ953D3V</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>uploadSymbols</key>
	<true/>
	<key>destination</key>
	<string>upload</string>
	<!-- 上传时不许 Xcode 自动改写 CFBundleVersion:版本号由 project.yml 说了算 -->
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
</dict>
</plist>
